<a href="/podcasts">All Podcasts</a>
<a href="/podcasters">All Podcasters</a><br>
<h1>Podcaster Edit Page</h1>

<%= form_with model: @podcaster, url: "/podcasters/#{@podcaster.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :podcast_names %>
  <%= form.text_field :podcast_names %>
  <%= form.label :expertise %>
  <%= form.text_field :expertise %>
  <%= form.label :active %>
  <%= form.text_field :active %>
  <%= form.label :years_active %>
  <%= form.text_field :years_active %>
  <%= form.submit "Submit"%>
<% end %>
