

<h1>Name : <%= @podcaster.name %></h1>
<p><%= @podcaster.expertise %></p>
<p><%= @podcaster.podcast_names %></p>
<p><%= @podcaster.number_of_podcasts %></p>
<p><%= @podcaster.active %></p>

<a href="/podcasters">Podcaster Index</a>
