<a href="/podcasts">All Podcasts</a>
<a href="/podcasters">All Podcasters</a><br>

<h1>Name : <%= @podcaster.name %></h1>
<p>Expertise : <%= @podcaster.expertise %></p>
<p>Podcasts : <%= @podcaster.podcast_names %></p>
<p>Number of Podcasts : <%= @podcaster.number_of_children %></p>
<p>Active? : <%= @podcaster.active %></p><br>

<a href="/podcasters/<%= @podcaster.id %>/podcasts">All Podcasts By <%= @podcaster.name %></a>
