<a href="/podcasts">All Podcasts</a>
<a href="/podcasters">All Podcasters</a><br>

<h1><%= @podcast.title %></h1>
<p>Podcaster : <%= @podcast.podcaster.name %></p>
<p>Topic : <%= @podcast.topic %></p>
<p>Length : <%= @podcast.length_in_minutes %> minutes</p>
<p>Favorites : <%= @podcast.favorites %></p>
